body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(76, 77, 76);
}

.navbar {
    background-color: rgb(182, 235, 60);
    overflow: hidden;
}

.navbar a {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    color: white;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.navbar .name {
    font-size: 25px;
    font-weight: bold;
    float: left;
}

.navbar .nav-item {
    float: right;
}