body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(97, 128, 156);
}

.navbar {
    background-color: rgb(35, 89, 160);
    overflow: hidden;
}

.navbar a {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    color: white;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.navbar .name {
    font-size: 25px;
    font-weight: bold;
    float: left;
}

.navbar .nav-item {
    float: right;
}

.image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    float: right;
    padding: 0 20px 20px 0;
}

.content h2 {
    font-size: 30px;
}

.content h3 {
    font-size: 30px;
}

.content p {
    font-size: 25px;
}

#ball img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    float: right;
    padding: 0 20px 20px 0;
    text-align: center;
}

#snow img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    float: left;
    padding: 0 20px 20px 0;
}

#desk img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    float: right;
    padding: 0 20px 20px 0;
    text-align: center;
}

#code img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    float: left;
    padding: 0 20px 20px 0;
}